.btn-r-h {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #000000;

  &:hover {
    cursor: pointer;
  }
  
  &--primary {
    border: none;
    color: inherit;
    background-color: $bg-color__orange;
  }
}

.btn-r-m {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  border-radius: 43px;
  padding: 10px 20px;
  

  &:hover {
    cursor: pointer;
  }
  
  &--primary_dark {
    border: none;
    color: white;
    background-color: $text-color__dark;
    text-transform: uppercase;
  }
}


// .btn-s {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 28px;
//   /* or 200% */
//   letter-spacing: 0.2px;
//   padding: 15px 21.5px;
//   text-transform: capitalize;
//   height: min-content;

  
//   &:hover {
//     cursor: pointer;
//   }

//   &--primary {
//     border: none;
//     color: #ffffff;
//     background-color: $primary-color;

//   }
//   &--bordered {
//     background-color: transparent;
//     border: 1px solid $primary-color;
//     color: $primary-color;
//   }
// }

