.main {

  &__advertisement {
    min-height: 738px;
    background-image: url(/src/assets/images/main/slogan/bg_1.jpg);
    display: flex;
    justify-content: center;
  }
  &__advertisement-wrapper {
    flex: 0 1 1600px;
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    margin: 0 30px;
  }

  &__benefits {
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding: 0 70px;
  }

  &__real-estate {

  }

  &__data {
    padding: 50px 0;
  }
  
  &__feedback {
    display: flex;
    background-image: url(/src/assets/images/main/feedback/bg_2.jpg);
    min-height: 398px;
    justify-content: center;
    align-items: center;
  }
}

// === advertisement section
.slogan {
  color: $text-color__white;
  max-width: 670px;

  &__title {

    h1 {
      font-size: 67px;
      font-weight: 800;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }

    h3 {
      font-size: 29px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }
  }

  &__subtitle {

    h2 {
      font-size: 56px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
    }
    
    h4 {
      text-transform: uppercase;
      margin-top: 0;
      line-height: 0;
    }
  }
}
.consultation {
  height: 450px;
  width: 890px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: $bg-color__orange;

  &__title {
    
    h1 {
      font-size: 87px;
      font-weight: 800;
      line-height: 106px;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h3 {
      font-size: 29px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    h4 {
      text-transform: uppercase;
      color: $text-color__white;
      margin: 10px 0 20px;
      text-align: center;
      font-weight: 400;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    flex-wrap: wrap;
  }

  &__inputs {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

// === benefits section
.benefits {
  position: relative;
  flex: 0 1 1780px;
  border: 1px solid #000000;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #c4c4c465;
  padding: 4px;
  height: 100%;

  &__wrapper {
    border: 1px solid #000000;
    border-radius: 15px;
    height: 100%;
    background: white;
    padding: 90px 60px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 90px;
    column-gap: 30px;
  }

  &__title {
    position: absolute;
    margin: 0;
    height: 30px;
    width: 567px;
    top: -15px;
    background-color: white;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 14px;
      height: 6px;
      width: 565px;
      border-right: 1px solid #000000;
      border-left: 1px solid #000000;
    }
  }
}
.benefit {
  display: flex;
  min-width: 520px;
  height: 80px;
  align-items: center;
  max-width: 520px;

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  p {
    margin-left: 40px;
  }
}

// === real-estate section
.real-estate {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 416px;
  }
}

.card {
  flex: 1 1 33.3333%;
  position: relative;
  height: 416px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__ui {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 30px;
    left: calc(50% - 150px);
  }

  &__title {
    color: $text-color__white;
    margin-bottom: 20px;
  }
}


// === data section
.data {
  min-height: 321px;
  display: flex;
  justify-content: space-between;

  &__left-row {
    border-left: 5px solid #24173D;
    margin-left: 50px;
    padding-left: 20px;
  }

  &__title {
    max-width: 700px;
    font-size: 44px;
    font-weight: 900;
    line-height: 77px;
    text-align: left;
    text-transform: uppercase;
  }

  &__right-row {
    max-width: 1017px;
    width: 100%;
    min-height: 321px;
    display: flex;
    background: $bg-color__orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px;
  }
  &__column {
    flex : 1 1 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.data-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  max-width: 194px;

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: $text-color__white;
    min-height: 44px;

  }

  &__count {
    height: 93px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    
    span:nth-child(1) {
      font-size: 30px;
      font-weight: 800;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: left;
    }
    
    span:nth-child(2) {
      font-size: 70px;
      font-weight: 800;
      line-height: 85px;
      letter-spacing: 0em;
    }
  }

  &__subtitle {
    text-align: center;
    text-transform: uppercase;
    color: $text-color__white;
    min-height: 44px;
  }
}

// === feedback section
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color__white;

  &__title {
    margin-top: 0;
  } 

  &__message {
    margin-top: 0;
    margin-bottom: 50px;
  }

  &__form {
    
    input {
      height: 57px;
      margin-right: 10px;
    }
  }
}
