.main {

  &__advertisement {
    min-height: 738px;
    background-image: url(/src/assets/images/main/slogan/bg_1.jpg);
    display: flex;
    justify-content: center;
  }
  &__advertisement-wrapper {
    flex: 0 1 1600px;
    display: flex;
    justify-content: space-between;
    padding: 110px 0;
    margin: 0 30px;
  }

  &__benefits {
    min-height: 500px;
    display: flex;
    justify-content: center;
    padding: 0 70px;
  }
}

// === advertisement section
.slogan {
  color: $text-color__white;
  max-width: 670px;

  &__title {

    h1 {
      font-size: 67px;
      font-weight: 800;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }

    h3 {
      font-size: 29px;
      font-weight: 300;
      line-height: 50px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
    }
  }

  &__subtitle {

    h2 {
      font-size: 56px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0em;
      text-align: left;
    }
    
    h4 {
      text-transform: uppercase;
      margin-top: 0;
      line-height: 0;
    }
  }
}
.consultation {
  height: 450px;
  width: 890px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: $bg-color__orange;

  &__title {
    
    h1 {
      font-size: 87px;
      font-weight: 800;
      line-height: 106px;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h3 {
      font-size: 29px;
      font-weight: 400;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }

    h4 {
      text-transform: uppercase;
      color: $text-color__white;
      margin: 10px 0 20px;
      text-align: center;
      font-weight: 400;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    flex-wrap: wrap;
  }

  &__inputs {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
}

// === benefits section
.benefits {
  position: relative;
  flex: 0 1 1780px;
  border: 1px solid #000000;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #c4c4c465;
  padding: 4px;
  height: 100%;

  &__wrapper {
    border: 1px solid #000000;
    border-radius: 15px;
    height: 100%;
    background: white;
    padding: 90px 60px;
    display:  flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 90px;
    column-gap: 30px;
  }

  &__title {
    position: absolute;
    margin: 0;
    height: 30px;
    width: 567px;
    top: -15px;
    background-color: white;
    text-align: center;

    &::after {
      position: absolute;
      content: '';
      left: 0;
      top: 14px;
      height: 6px;
      width: 565px;
      border-right: 1px solid #000000;
      border-left: 1px solid #000000;
    }
  }
}

.benefit {
  display: flex;
  min-width: 520px;
  height: 80px;
  align-items: center;
  max-width: 520px;

  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  p {
    margin-left: 40px;
  }
}

// === real-estate section
